<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script type="application/javascript" src="{{ asset('bundles/public/vendor/jquery/dist/jquery.min.js') }}"></script>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/public/vendor/jquery-ui/themes/ui-lightness/jquery-ui.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/public/vendor/sb-admin-2/css/plugins/metisMenu/metisMenu.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/public/vendor/sb-admin-2/css/sb-admin-2.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/public/vendor/select2/select2.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/public/vendor/select2/select2-bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/public/vendor/font-awesome/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/public/vendor/bootstrap3-datepicker/css/datepicker.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/public/css/main.css') }}"/>

        {# http://symfony.com/doc/current/cookbook/assetic/asset_management.html#fixing-css-paths-with-the-cssrewrite-filter #}
        {# bundles syntax known issue: http://symfony.com/doc/current/cookbook/assetic/asset_management.html#including-css-stylesheets
        {# Bootstrap css handled by scss #}
        {#{% stylesheets 'bundles/public/css/main.css' filter='cssrewrite' %}#}
        {#<link rel="stylesheet" href="{{ asset_url }}"/>#}
        {#{% endstylesheets %}#}
    {% endblock %}


    <title>{% block title %}VNS{% if title is defined %} | {{ title }}{% endif %}{% if subtitle is defined %} &gt; {{ subtitle }}{% endif %}{% endblock %}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    {% javascripts
    '@AppBundle/Resources/public/vendor/html5shiv/dist/html5shiv.min.js'
    '@AppBundle/Resources/public/vendor/respond/dest/respond.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->


</head>
<body>
{% block content %}{% endblock %}

{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/app.js'
    '@AppBundle/Resources/public/vendor/jquery-ui/jquery-ui.js'
    '@AppBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js'
    '@AppBundle/Resources/public/vendor/select2/select2.min.js'
    '@AppBundle/Resources/public/vendor/moment/moment.js'
    '@AppBundle/Resources/public/vendor/bootstrap3-datetimepicker/src/js/bootstrap-datetimepicker.js'
    '@AppBundle/Resources/public/vendor/bootstrap3-datepicker/js/bootstrap-datepicker.js'
    '@AppBundle/Resources/public/vendor/sb-admin-2/js/plugins/metisMenu/metisMenu.min.js'
    '@AppBundle/Resources/public/vendor/sb-admin-2/js/plugins/dataTables/jquery.dataTables.js'
    '@AppBundle/Resources/public/vendor/sb-admin-2/js/plugins/dataTables/dataTables.bootstrap.js'
    '@AppBundle/Resources/public/vendor/typehead.js/dist/typeahead.jquery.min.js'
    '@AppBundle/Resources/public/vendor/bootstrap3-typeahead/bootstrap3-typeahead.min.js'
    '@AppBundle/Resources/public/vendor/spin.js/spin.js'
    '@AppBundle/Resources/public/vendor/scrollup/dist/jquery.scrollUp.min.js' %}
    <script type="application/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

</body>
</html>
