{% extends 'AppBundle::base.html.twig' %}

{% block content %}

    <div class="form-group pull-right">
        <div class="btn-group">
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
                Export
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                    <li>
                        <a target="_blank" title=""  href="">PDF</a>

                    </li>
            </ul>
        </div>
    </div>


    <div class="md-12" id="content">

        <p>Print me</p>
        <div id="data-source">
            <p>Print me</p>

            {{ include('AppBundle:tests:inc/table-template.html.twig', {'data':data, 'header':"Data Source"}) }}
        </div>

        {#<div id="data-source">#}
            {#{% set datasource_header = "poline.header.datasource" %}#}
            {#{{ include('AppBundle:tests:inc/table-template.html.twig', {'data':data, 'header':"Data Source"}) }}#}
        {#</div>#}

        {#<div id="data-source">#}
            {#{% set datasource_header = "poline.header.datasource" %}#}
            {#{{ include('AppBundle:tests:inc/table-template.html.twig', {'data':data, 'header':"Data Source"}) }}#}
        {#</div>#}

        {#<div id="data-source">#}
            {#{% set datasource_header = "poline.header.datasource" %}#}
            {#{{ include('AppBundle:tests:inc/table-template.html.twig', {'data':data, 'header':"Data Source"}) }}#}
        {#</div>#}
        {#<div id="data-source">#}
            {#{% set datasource_header = "poline.header.datasource" %}#}
            {#{{ include('AppBundle:tests:inc/table-template.html.twig', {'data':data, 'header':"Data Source"}) }}#}
        {#</div>#}
        {#<div id="data-source">#}
            {#{% set datasource_header = "poline.header.datasource" %}#}
            {#{{ include('AppBundle:tests:inc/table-template.html.twig', {'data':data, 'header':"Data Source"}) }}#}
        {#</div>#}



    </div>


    <div id="editor"></div>
    <button id="cmd">generate PDF</button>

    <button onclick="javascript:demoFromHTML()">PDF</button>
    {{ dump(data) }}

{% endblock %}

{% block javascripts %}

    <script type="application/javascript" src="{{ asset('bundles/public/vendor/jspdf/dist/jspdf.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/public/js/app.js') }}"></script>

{% endblock %}
