{% extends 'AppBundle::base.html.twig' %}

{% block title %}VNS | {% trans %}Login{% endtrans %}{% endblock %}
{% set fluid_layout = 0 %}
{% set disable_page_header = 1 %}

{% block content %}
    <div class="col-xs-12 col-sm-8 col-md-6 col-centered align-center spacer">
        <img class="logo img-responsive" src="{{ asset('bundles/public/images/logo/pivot88.png') }}" alt="VNS" width="880" height="265">
    </div>
    {{ include('AppBundle:layout:login_form.html.twig', {'error':error, 'last_username':last_username}) }}
{% endblock %}
