<table class="table table-bordered table-hover" cellpadding="5" cellspacing="5" id="table-data">
    <thead>
    <tr>
        <td colspan="4" class="bg-poline-detail-table-header">
            <strong>
                {% if header is defined %}
                    {{ header }}
                {% endif %}
            </strong>
            <a class="pull-right" alt="See inspection history" }}" title="{{ "tooltip.history.assignment"|trans }}" href="{#{ path('historyAssignment', {'type': 'assignment', 'id': inspection.assignment_id }) }#}">
            <i class="fa fa-history fa-2x"></i>
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
    {% for i in 1..0 %}
        {% if i is not divisible by(2) %}
            <tr>
            <td class="bg-poline-detail1" width="25%">
                Name
            </td>
            <td width="25%"  class="bg-poline-detail2" >
                Value
            </td>

        {% else %}
            <td class="bg-poline-detail1" width="25%">
                Name
            </td>
            <td width="25%"  class="bg-poline-detail2" >
                Value
            </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

