{% block content %}
    <h1 class="title">Users</h1>

    <ul id="page-list">
        {% for user in users %}
            <li>
                <a href="{{ path('api_1_get_page', {'id': page.id}) }}">{{ page.title }}</a>
                {#[<a href="{{ path('api_1_edit_pages', {'id': page.id}) }}">{{ 'page.edit.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
                {#[<a href="{{ path('api_1_remove_pages', {'id': page.id}) }}">{{ 'page.remove.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
            </li>
        {% else %}
            <li></li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('api_1_new_page') }}">scnksa</a>
    </p>
{% endblock %}